@model ZSZ.AdminWeb.Models.AdminUserEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}

<form class="form form-horizontal" id="editForm">
    <input type="hidden" id="id" name="id" value="@Model.AdminUser.Id" />
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="@Model.AdminUser.PhoneNum" placeholder="" id="phonenum" name="phonenum">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="@Model.AdminUser.Name" placeholder="" id="name" name="name">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="password" class="input-text" value="" placeholder="如果为空则不修改密码" id="password" name="password">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="password" class="input-text" value="" placeholder="如果为空则不修改密码"id="confirmPassword" name="confirmPassword">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="@Model.AdminUser.Email" placeholder="" id="email" name="email">
        </div>
    </div>
    <div class="row cl ">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>城市：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <select class="dropDown" id="city" name="city" required>
                @foreach (var city in Model.Citys)
                {
                    <option value="@city.Id" selected="@(Model.AdminUser.CityId == city.Id)">@city.Name</option>
                }
            </select>
        </div>
    </div>
    
    <div class="row cl" >
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
        @foreach (var role in Model.AllRoles)
        {
            <div class="col-xs-4 col-sm-3 check-box">
                <input type="checkbox" checked="@(Model.SelectRoleIds.Contains(role.Id))" value="@role.Id" id="RoleIds_@role.Id" name="RoleIds">
                <label for="RoleIds_@role.Id" class="">@role.Name</label>
            </div>
        }

    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="button" id="saveBtn" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
@section FooterScript
{
    <script>
        function formValidate() {
            var result = $("#editForm").validate({
                rules: {
                    phonenum: {
                        required: true,
                        minlength: 1,
                        maxlength: 50,
                        isMobile: true
                    },
                    name: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    password: {
                        minlength: 1,
                        maxlength: 50
                    },
                    confirmPassword: {
                        minlength: 1,
                        maxlength: 50,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    }
                },
                onsubmit: true,
                onfocusout: function (element) { $(element).valid(); },
                onkeyup: function (element) { $(element).valid(); }

            });
            return result;
        }
        $(function () {
            $("#saveBtn").click(function () {
                if (formValidate().form()) {
                    var formData = $("#editForm").serializeArray();
                    $.ajax({
                        url: "/AdminUser/Edit",
                        type: "post",
                        data: formData,
                        dataType: "json",
                        success: function (res) {
                            if (res.status == "ok") {
                                parent.location.reload();
                            } else {
                                alert("error");
                            }
                        },
                        error: function (res) {
                            alert("内部错误");
                        }
                    });
                }
                
            });

        });
    </script>
}




